[Unit]
Description=BootRunner
After=boot.mount etc-bootrunner.d.mount
Requires=boot.mount etc-bootrunner.d.mount

[Service]
Type=simple
ExecStart=/usr/bin/bootrunner

[Install]
WantedBy=multi-user.target
